<!--<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-light shadow-sm" id="pillNav2" role="tablist" style="&#45;&#45;bs-nav-link-color: var(&#45;&#45;bs-white); &#45;&#45;bs-nav-pills-link-active-color: var(&#45;&#45;bs-primary); &#45;&#45;bs-nav-pills-link-active-bg: var(&#45;&#45;bs-white);">-->
<!--  <li class="nav-item" role="presentation">-->
<!--    <button class="nav-link active rounded-5" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Registro</button>-->
<!--  </li>-->
<!--  <li class="nav-item" role="presentation">-->
<!--    <button class="nav-link rounded-5" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Lista</button>-->
<!--  </li>-->
<!--</ul>-->
<!--<router-outlet/>-->
<app-registro/>
